[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-csp = "*"
djangorestframework = "*"
django-filter = "*"
psycopg = "*"
psycopg2-binary = "*"
django = "*"
djangorestframework-simplejwt = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.12"
